<footer id="footer"><a href="https://www.lockbook.org">LockBook Limited</a> &#169; 2019 - <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.<br />{{ text_version }}</footer></div>
</body></html>
